.content-container {
    /* Position */
    position: static;
    left: auto;
    right: auto;
    max-width: 1000px;
    
    /* Block */
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    

    /* Typographic */
    font-family: "Arial", sans-serif;
    color: black;

    /* Decoration */
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: dimgrey;
}

h1,
h2 {
    color: gray;
}

#avatar {
    position: relative;
    border: 3px solid gray;
    border-radius: 8px;
}

#code {
    font-weight: bold;
}